$background-color: #F2F4FA;
$text-color: #333;
$nav-bg-color: #fff;
$icon-size: 30px;
$card-bg-color: #fff;
$card-border-radius: 10px;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

@font-face {
  font-family: 'NeurialGroteskMed';
  src: url(NeurialGroteskmedium.ttf) format('ttf')
}

@font-face {
  font-family: 'NeurialGroteskReg';
  src: url(neurialgroteskregular.ttf) format('ttf')
}

@font-face {
  font-family: 'Jakarta';
  src: url('PlusJakartaSans-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-VariableFont_wdth,wght.ttf') format('ttf');
}


body {
  font-family: 'NeurialGroteskMed', sans-serif;
  letter-spacing: 0.4px;
  color: #28394F;
  font-weight: 200;
  margin: 10px;
  padding-bottom: 50px; 
  overflow: auto;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      flex-grow: 1;
      .icon {
        text-align: center;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0; /* Adjust the left position to start from the left edge */
  width: 100%; /* Ensure full width */
  background-color: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 10%;
  padding-top: 5%;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list li {
  flex-grow: 1;
  text-align: center;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin-top: 2px;
}

.icon-container {
  display: flex;
  flex-direction: column; /* Display icon and text in a column */
  align-items: center;
}

.icon img {
  width: auto;
  height: 30px;
}

.icon span {
  font-size: 12px;
  margin-top: 2px; /* Add margin to bump down the text */

}


#profileForm {
  padding: 30pt;
}

.container-forms {display: grid;
    grid-template-columns: auto;
    gap: 20px;}

    .profile-feed {
      display: flex; /* Change to flex */
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      padding: 20px;
      box-sizing: border-box;
      margin-top: 50px;
      margin-bottom: 50px;
      gap:20px;
  
      .profile-card {
          background-color: $card-bg-color;
          border-radius: $card-border-radius;
          box-shadow: $card-shadow;
          overflow: hidden;
          width: 100%; /* Ensure full width within flex container */
    margin-bottom: 20px; /* Add margin between cards */
    gap: 20px;
  
          img {
              width: 100%;
              height: 200px;
              object-fit: cover;
          }
  
          .profile-info {
              padding: 20px;
  
              h2 {
                  font-size: 20px;
                  margin-bottom: 10px;
              }
  
              p {
                  font-size: 14px;
                  color: $text-color;
                  margin-bottom: 10px;
              }
  
              .skills-list {
                  list-style: none;
                  padding: 0;
  
                  li {
                      display: inline-block;
                      background-color: $background-color;
                      padding: 5px 10px;
                      margin: 2px;
                      border-radius: 5px;
                      font-size: 12px;
                  }
              }
          }
      }
  }
  
  .block-top {display: inline-block;
  justify-content: space-between;}

  .block-top h1 {color: rgb(0, 0, 0);
  padding-left: 30pt;}

  .profile-picture-corner {
    position: fixed; /* Position it relative to the viewport */
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    border-radius: 50%; /* Make it circular */
    border: 2px solid #fff; /* Add a border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

//NEW

.AboutImage { 
  text-align: center; /* Center the content horizontally */
}

.AboutImage img {
  height: 200px;
  width: auto; 
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image horizontally */
  border-radius: 3%;
}

html {
  background-color: white;
}

.header {
  margin: 50px;
  margin-top: -4px;
  font-family: 'Jakarta', sans-serif;
  letter-spacing: 0.4px;
  color: #28394F;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  font-size: 13px;
  
}

.RegText {
  width: 80%;
  margin: 50px;
  margin-top: -10px;
  font-family: 'NeurialGroteskMed', sans-serif;
  letter-spacing: 0.4px;
  color: #28394F;
  font-weight: 200;
}


.container {
  background-color: $background-color;
  width: 90%;
  padding: 20px;
  margin: 0 auto; /* Horizontally center the container */
  border-radius: 2%;
}

.logo {
  img {
    height: 100px;
    width: auto;
  }
  text-align: center;
}
.options{display: grid;grid-template-columns: 1fr 1fr 1fr; gap: 10px;}

.loginprompt {padding: 40pt;}

.actionbutton{
  color: #edeeed;
  height: 60px;
  width: 170px;
  margin: 10px;
  border-radius: 12px;
  border: solid;
  padding: 14px 10px;
  text-align: center;
  display: flex;
  font-size: 21px;
  align-items: center;
  justify-content: center;
}

//input types
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

// Login
.profile-info {
  background-color: $background-color;
  width: 90%;
  padding: 20px;
  margin: 0 auto; /* Horizontally center the container */
  border-radius: 2%;
  margin-top: -18px;
}

input[type="text"] {
  background-color: $background-color; /* Change the background color to orange */
  color: #28394F; /* Change the text color to black */
  border: 1px solid #28394F; /* Add border to textboxes */
}

#bio,
#email,
#portfolio_url {
  background-color: $background-color; /* Change the background color to orange */
  color: #28394F; /* Change the text color to black */
  border: 1px solid #28394F; /* Add border to textboxes */
}

.Freelance {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
  font-size: 24px;
}
.profile-card {
  width: 90%;
  margin-left: 5vw;
  margin-right: 5vw;
  position: fixed;
  top: 140px; 
  display: none;
}
.forbackprofiles{
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10vw;
  button{
    box-shadow: $card-shadow;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 90%; /* Limits the image size to not overflow the button */
      max-height: 90%; /* Limits the image size to not overflow the button */
    }
  }
}
.purple{
  background-image: linear-gradient(117.24deg, #AFAFDD 1.74%, #7E7EEB 96.77%);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.orange{
  background-image: linear-gradient(117.3deg, #FFAC89 0%, #FF8A58 100%);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.prevnext{
  margin-top: 85vw;
}
#logout{
  background-image: linear-gradient(117.24deg, #AFAFDD 1.74%, #7E7EEB 96.77%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: medium;
  padding: 5%;
  color: #fff;
}
#submitbutton{
  background-image: linear-gradient(117.3deg, #FFAC89 0%, #FF8A58 100%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-size: medium;
  padding: 5%;
  color: #fff;
}